<launch>

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="2.5"/>
    <param name="maximum_range" type="double" value="80"/>
    <param name="fov" type="double" value="360" />
    <param name="lidar_topic" type="string" value="/rslidar_points" />
    <param name="lidar0_x" type="double" value=" 0.047" />
    <param name="lidar0_y" type="double" value=" 0.0052" />
    <param name="lidar0_z" type="double" value=" 0.1096" />
    <param name="lidar0_rx" type="double" value="0.0" />
    <param name="lidar0_ry" type="double" value="12.0" />
    <param name="lidar0_rz" type="double" value="90.0" />
    <param name="scan_line" type="int" value="16" />
    <param name="lidar_num" type="int" value="1" />
    <param name="imu_topic" type="string" value="/ins_imu" />
    <param name="imu_x" type="double" value="0.0" />
    <param name="imu_y" type="double" value="0.0" />
    <param name="imu_z" type="double" value="0.0" />
    <param name="imu_rx" type="double" value="0.0" />
    <param name="imu_ry" type="double" value="0.0" />
    <param name="imu_rz" type="double" value="-90.0" />

    <param name="mapping_line_resolution" type="double" value="0.2"/>
    <param name="mapping_plane_resolution" type="double" value="0.4"/>
    <param name="out_path" type="string" value="/home/wlt-zh/dataset/20190910/process" />
    <param name="submap_binsize" type="int" value="40" />
    <param name="save_freq" type="int" value="5" />
    <param name="rmap" type="int" value="1" />

    <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />

    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />

    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

    <node pkg="aloam_velodyne" type="visualizer"    name="visualizer"    output="screen"/>

</launch>
