<launch>
    
    <param name="scan_line" type="int" value="16" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="0.5"/>

    <param name="lidar_num" type="int" value="2" />
    <param name="lidar0_topic" type="string" value="/ns2/velodyne_points" />
    <param name="lidar0_x" type="double" value="0.0" />
    <param name="lidar0_y" type="double" value="0.0" />
    <param name="lidar0_z" type="double" value="0.0" />
    <param name="lidar0_rx" type="double" value="0" />
    <param name="lidar0_ry" type="double" value="0" />
    <param name="lidar0_rz" type="double" value="0" />
    <param name="scan0_line" type="int" value="16" />
    <param name="lidar1_topic" type="string" value="/ns1/velodyne_points" />
    <param name="lidar1_x" type="double" value="-0.237223" />
    <param name="lidar1_y" type="double" value="-0.012805" />
    <param name="lidar1_z" type="double" value="-0.122945" />
    <param name="lidar1_rx" type="double" value="3.740153" />
    <param name="lidar1_ry" type="double" value="-79.65381" />
    <param name="lidar1_rz" type="double" value="-2.225454" />
    <param name="scan1_line" type="int" value="16" />

    <param name="mapping_line_resolution" type="double" value="0.2"/>
    <param name="mapping_plane_resolution" type="double" value="0.4"/>

    <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />

    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />

    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

    <node pkg="aloam_velodyne" type="visualizer"    name="visualizer"    output="screen"/>

</launch>
